* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono;
  font-size: 12px;
  min-height: 1em;
}

window#waybar {
  background: #000000;
  padding-top: 0.2em;
}

#workspaces,
#clock,
#mpris,
#tray,
#window,
#custom-notification,
#power-profiles-daemon,
#backlight,
#wireplumber,
#idle_inhibitor,
#battery {
  background: @theme_base_color;
  color: #ffffff;
  border-radius: 0.45em;
  padding: 0.15em 0.7em;
  margin: 0 0.35em;
}

#workspaces {
  padding: 0.1em 0.4em;
}

#workspaces button {
  background: transparent;
  color: #7c818c;
  padding: 0.2em 0.4em;
  font-size: 1em;
}

#workspaces button:hover {
  color: #383c4a;
  background: #7c818c;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.empty {
  color: rgba(200, 200, 200, 0.45);
}

window#waybar.empty #window {
  background: transparent;
}

#clock {
  border-radius: 0.45em 0 0 0.45em;
}

#custom-notification.critical {
  background: #eb4d4b;
  color: #ffffff;
}

#battery.charging {
  background: #26a65b;
  color: #ffffff;
}

#battery.warning:not(.charging) {
  background: #ffbe61;
  color: #000000;
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background: #ffffff;
    color: #000000;
  }
}
