* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  box-shadow: none;
}

window#waybar {
  background: @theme_base_color;
  color: @theme_text_color;
  padding: 4px 8px;
  border-radius: 0em 0em 0em 0em;
}

#clock,
#custom-notification {
  min-width: 2em;
  padding: 0.2em 0.8em;
}

#tray,
#power-profiles-daemon,
#backlight,
#wireplumber,
#idle_inhibitor,
#battery {
  min-width: 2em;
  padding: 0.2em 0.8em;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin: 0 4px;
  transition: background 0.3s ease, border 0.3s ease;
}

#tray:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#wireplumber:hover,
#idle_inhibitor:hover,
#battery:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

#custom-notification.critical {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.4);
  color: #fff;
}

