* {
  font-family:
    Inter Regular,
    JetBrainsMono Nerd Font;
  font-size: 12px;
  box-shadow: none;
}

window#waybar {
  background: #000000;
  color: @theme_text_color;
  border-radius: 0em 0em 0em 0em;
}

#workspaces button {
  color: #eeeeee;
  padding-left: 0.7em;
}

#workspaces button.empty {
  color: #aaaaaa;
}

#clock {
  padding: 0.2em 0.6em;
}

#tray,
#power-profiles-daemon,
#backlight,
#wireplumber,
#idle_inhibitor,
#custom-notification,
#battery {
  min-width: 2em;
  padding: 0em 0.8em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  margin: 0 4px;
  transition:
    background 0.3s ease,
    border 0.3s ease;
}

#tray:hover,
#custom-notification:hover,
#power-profiles-daemon:hover,
#backlight:hover,
#wireplumber:hover,
#idle_inhibitor:hover,
#battery:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.2);
}

#custom-notification.critical {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: rgba(255, 0, 0, 0.4);
  color: #fff;
}
