:root {
  --cc-bg: rgb(46, 46, 46);
  --noti-border-color: rgba(255, 255, 255, 0.15);
  --noti-bg: rgb(48, 48, 48);
  --noti-bg-darker: rgb(38, 38, 38);
  --noti-bg-hover: rgb(56, 56, 56);
  --noti-bg-focus: rgb(68, 68, 68);
  --noti-close-bg: rgb(78, 78, 78);
  --noti-close-bg-hover: rgb(94, 94, 94);
  --text-color: rgb(255, 255, 255);
  --text-color-disabled: rgb(150, 150, 150);
  --bg-selected: rgb(0, 128, 255);
  --notification-icon-size: 64px;
  --notification-app-icon-size: 21.33px;
  --notification-group-icon-size: 32px;
  --border: 1px solid var(--noti-border-color);
  --border-radius: 12px;
  --notification-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 3px 1px rgba(0, 0, 0, 0.7),
    0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-body: 15px;
  --font-size-summary: 16px;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 6px 12px;
}

.notification-row .notification-background .notification {
  border-radius: var(--border-radius);
  border: var(--border);
  padding: 0;
  transition: background 0.15s ease-in-out;
  background: var(--noti-bg);
}

.notification-row .notification-background .notification.low {
}

.notification-row .notification-background .notification.normal {
}

.notification-row .notification-background .notification.critical {
  background: #eb4d4b;
  color: #ffffff;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: var(--text-color);
  transition: background 0.15s ease-in-out;
  border-radius: var(--border-radius);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action:hover {
  background: var(--noti-bg-hover);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content {
  background: transparent;
  border-radius: var(--border-radius);
  padding: 0;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .image {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  margin: 4px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .app-icon {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  label {
  filter: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .summary {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .time {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
  margin-right: 30px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .text-box
  .body {
  font-size: var(--font-size-body);
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  progressbar {
  margin-top: 4px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .body-image {
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply {
  margin-top: 4px;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-entry {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  caret-color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button {
  margin-left: 4px;
  background: var(--noti-bg);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button:disabled {
  background: initial;
  color: var(--text-color-disabled);
  border: var(--border);
  border-color: transparent;
}

.notification-row
  .notification-background
  .notification
  .notification-default-action
  .notification-content
  .inline-reply
  .inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.notification-row
  .notification-background
  .notification
  .notification-alt-actions {
  background: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  margin: 4px;
  padding: 0;
}

.notification-row
  .notification-background
  .notification
  .notification-action
  > button {
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.notification-group {
  transition: opacity 200ms ease-in-out;
}

.notification-group:focus {
  background: var(--noti-bg-focus);
}

.notification-group.low {
}

.notification-group.normal {
}

.notification-group.critical {
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px;
  color: var(--text-color);
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
}

.notification-group .notification-group-buttons {
}

.notification-group.collapsed {
  opacity: 0.4;
}

.notification-group.collapsed .notification-row .notification {
  background-color: var(--noti-bg);
}

.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-action,
.notification-group.collapsed
  .notification-row:not(:last-child)
  .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover
  .notification-row:not(:only-child)
  .notification {
  background-color: var(--noti-bg-hover);
}

.control-center {
  background: #000000;
  color: var(--text-color);
  border-radius: var(--border-radius);
}

.control-center .control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: none;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition:
    opacity 400ms ease-in-out,
    background 0.15s ease-in-out;
}

.control-center
  .control-center-list
  .notification
  .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--noti-bg-hover);
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
}

.close-button {
  background: var(--noti-close-bg);
  color: var(--text-color);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 8px;
  margin-right: 8px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: var(--noti-close-bg-hover);
  transition: background 0.15s ease-in-out;
  border: none;
}
